.nav li .submenu{
visibility: hidden;
}
.nav li:hover .submenu{
    opacity: 1 !important;
    visibility: inherit;
    color: red;
    z-index: 100;
}
.nav li .submenu button:hover {
    
    color: red
    !important;
}